@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = @Resources.Identity.AccountManage.ConfirmEmail;
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        @Resources.Identity.AccountManage.ThankConfirmEmail
    </p>
</div>
