@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @Resources.Identity.AccountManage.ConfirmPassword;
}

<h1>@ViewData["Title"]</h1>
<p>
    @Resources.Identity.AccountManage.CheckEmailResetPassword
</p>

