@{
    ViewData["Title"] = @Resources.Views.Shared._Layout.LayoutHome;
}

<div class="text-center">
    <h1 class="display-4">@Resources.Views.Shared._Layout.LayoutWelcome <strong>ShopApp</strong> @Resources.Views.Shared._Layout.LayoutSalesPerson!</h1>
</div>
